.review-slider {
  position: relative;
  padding: 0 42px;

  &__arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    top: 50%;
    z-index: 1;

    &:first-child {
      transform: translatey(-50%) rotate(180deg);
      left: 0;
    }

    &:last-child {
      right: 0;
      transform: translatey(-50%);
    }
  }
}
