.section-head {
  text-align: center;
  color: var(--black);

  &::after {
    content: "";
    display: block;
    width: 170px;
    height: 4px;
    background: var(--accent);
    margin: 30px auto 0;

    @include breakpoint(xl) {
      width: 148px;
    }

    @include breakpoint(sm) {
      width: 144px;
    }
  }

  &__subtitle {
    font-family: "Kaushan Script";
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;

    @include breakpoint(xl) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  &__title {
    font-family: "Raleway";
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;

    @include breakpoint(xl) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }
}
