/* GRID */
.container {
  /* TODO: Поправить */
  max-width: calc(var(--content-width) + var(--mobile-padding) * 2);
  margin: 0 auto;
  padding-left: var(--mobile-padding);
  padding-right: var(--mobile-padding);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--gutter) * -1);
}

.col-1 {
  margin: 0 var(--gutter);
  width: calc(100% / 12 * 1 - var(--gutter) * 2);
}

.col-2 {
  margin: 0 var(--gutter);
  width: calc(100% / 12 * 2 - var(--gutter) * 2);
}

.col-3 {
  margin: 0 var(--gutter);
  width: calc(100% / 12 * 3 - var(--gutter) * 2);
}

.col-4 {
  margin: 0 var(--gutter);
  width: calc(100% / 12 * 4 - var(--gutter) * 2);
}

.col-5 {
  margin: 0 var(--gutter);
  width: calc(100% / 12 * 5 - var(--gutter) * 2);
}

.col-6 {
  margin: 0 var(--gutter);
  width: calc(100% / 12 * 6 - var(--gutter) * 2);
}

@media (max-width: 1200px) {
  .col-6 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
  }
}

.col-12 {
  margin: 0 var(--gutter);
  width: calc(100% / 12 * 12 - var(--gutter) * 2);
}
/* lg */
@media (max-width: 1200px) {
  .col-lg-6 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
  }
}
/* md */
@media (max-width: 992px) {
  .col-md-6 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
  }
}
/* md */
@media (max-width: 992px) {
  .col-md-5 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 5 - var(--gutter) * 2);
  }
}
/* sm */
@media (max-width: 768px) {
  .col-sm-6 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
  }
}
/* xs */
@media (max-width: 560px) {
  .col-xs-6 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
  }
}
@media (max-width: 560px) {
  .col-xs-12 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 12 - var(--gutter) * 2);
  }
}